apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - image: mysql:5.7
        name: mysql
        command: [
          "mysqld",
          "--user=mysql",
          "--explicit-defaults-for-timestamp", # Recommended by the log warnings
          "--innodb_force_recovery=1" # FORCES INNODB TO START DESPITE CORRUPTION
        ]
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "aixop4kY6iEl"  # Database Root Password
        - name: MYSQL_DATABASE
          value: "wordpress"    # Database Name
        - name: MYSQL_USER
          value: "wordpress"    # WordPress DB User
        - name: MYSQL_PASSWORD
          value: "aixop4kY6iEl"
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim
---
# Persistent Volume Claim (PVC) to store the data
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
